#picture {
  width: 500px;
  height: 200px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -250px;
  margin-top: -100px;
  background-image: -ms-linear-gradient(top left, #FFFFFF 0%, #FF3333 100%);
  background-image: -moz-linear-gradient(top left, #FFFFFF 0%, #FF3333 100%);
  background-image: -webkit-linear-gradient(top left, #FFFFFF 0%, #FF3333 100%);
  background-image: -o-linear-gradient(top left, #FFFFFF 0%, #FF3333 100%);
  z-index: -1;
}
#a {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -175px;
  margin-top: -65px;
  font-size: 100px;
  font-family: "Times New Roman, Times, serif";
}